/Munka_WebApp/nbproject/private/
/Munka_WebApp/dist/
/Munka_WebApp/build/
/Munka_WebMavenApp/target/
/Munka_Web/nbproject/private/
/Munka_Web/Munka_Web-war/nbproject/private/
/Munka_Web/Munka_Web-ejb/nbproject/private/
/Munka_Web/Munka_Web-ejb/build/
/Munka_Web/Munka_Web-ejb/dist/
/Munka_Web/build/
/Munka_Web/dist/
/Munka_Web/Munka_Web-war/build/
/Munka_Web/Munka_Web-war/dist/